:root{
        --primary-color: #7ca020;
        --secondary-color: #6c2c93;
        --dark-color: #292929;
        --white-color: #e7e7e7;


}

body{
    color: var(--dark-color);
}

nav{
    background-color: var(--dark-color);
}

footer{
    background-color: var(--dark-color);
}

h1,h2,h3,h4,h5,h6{
    color: var(--dark-color);
}

main>.container {
    padding: 60px 15px 0;
}
.sticky-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100% ;
}

footer{
    padding-right: 1rem;
}

footer .social>a{
    color: var(--white-color);
    opacity: .75;

}
footer .social>a:hover{
    opacity: 0.9;
    color: var(--secondary-color);
}

.bsicon{
    color: #8312FA;
}
    
.jsicon{
    color: #F0DB4F;
}
    
.html5icon{
    color: #E44D26;
}
    
.cssicon{
    color: #0A71B8;
}

.checklist >li i{
    color: var(--secondary-color);
}


}

code[class*='language-'],
        pre[
            class*="language-"] {
                white-space: pre-wrap;
                word-break: break-all;
                word-wrap: break-word;
            }